@charset "utf-8";
/* montserrat-regular - latin */

/* montserrat-500 - latin */

/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/montserrat-v25-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/montserrat-v25-latin-600.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("./fonts/montserrat-v25-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v25-latin-600.woff") format("woff"), /* Modern Browsers */ url("./fonts/montserrat-v25-latin-600.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/montserrat-v25-latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/montserrat-v25-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("./fonts/montserrat-v25-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v25-latin-700.woff") format("woff"), /* Modern Browsers */ url("./fonts/montserrat-v25-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/montserrat-v25-latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/montserrat-v25-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/montserrat-v25-latin-800.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("./fonts/montserrat-v25-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v25-latin-800.woff") format("woff"), /* Modern Browsers */ url("./fonts/montserrat-v25-latin-800.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/montserrat-v25-latin-800.svg#Montserrat") format("svg"); /* Legacy iOS */
}

html {
  font-family: Montserrat;
}

/* html format */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
i,
form,
label,
header,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Montserrat;
  vertical-align: baseline;
  white-space: nowrap;
}
/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* custom grobal css */

.flex {
  display: flex;
}

body {
  overflow: hidden;
}
button {
  cursor: pointer;
}
