<!DOCTYPE html>
<html lang="en">
  <head>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
      alert("{{messages[-1]}}");
    </script>
    {% endif %} {% endwith %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="wee" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title></title>
  </head>
  <body>
    <noscript>자바스크립트를 활성화하든 말든 이것이 404 라는 것에는 변함이 없습니다.</noscript>
    <h1>404-존재하지 않는 페이지입니다.</h1>
    <h2>베타 테스트 기간에 정상적인 사용으로 이 페이지를 발견하신 분에게는 사탕을 드립니다.</h2>
    <div style="display: flex; justify-content: space-around; margin-top: 48px">
      <button style="width: 256px; font-size: 12px; height: 36px" onclick="history.back()">전에 있던 페이지로 돌아가기.</button>
      <button style="width: 84px; font-size: 12px; height: 36px" onclick="location.href = '/'">홈</button>
    </div>
  </body>
</html>
