<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="wee" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="../static/css/common.css" />
    <title></title>
  </head>
  <body>
    <noscript>자바스크립트를 활성화하든 말든 이것이 404 라는 것에는 변함이 없습니다.</noscript>
    <h1 style="font-size: 36px">{{name}}의 출석체크가 완료되었습니다.</h1>
    <h1 style="font-size: 36px">current Time {{time}}.</h1>
    <div style="display: flex; justify-content: space-around; margin-top: 48px">
      <button style="width: 256px; font-size: 12px; height: 36px" onclick="history.back()">전에 있던 페이지로 돌아가기.</button>
      <button style="width: 84px; font-size: 12px; height: 36px" onclick="location.href = '/'">홈</button>
    </div>
  </body>
</html>
