<!DOCTYPE html>
<html lang="en">
  <head>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
      alert("{{messages[-1]}}");
    </script>
    {% endif %} {% endwith %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="WMS 출석체크 매니져" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="apple-touch-icon" href="../static/icons/icon.jpeg" />
    <link rel="stylesheet" href="../static/css/register.css" />
    <!-- <link rel="stylesheet" href="../static/css/register.css" /> -->
    <meta name="description" content="Login page of the 출석체크 앱." />

    <title>Login</title>
  </head>
  <!-- <img src="../static/icons/icon.jpeg" alt="" /> -->
  <body style="color: black">
    <div class="login-container">
      <form method="post">
        <h1 id="title">Login</h1>
        <div class="submit-inner">
          <label for="userName">ID</label>
          <input type="text" id="userName" name="userName" value="ID" onfocus="if (this.value == 'ID') {this.value = '';}" onblur="if (this.value == '') {this.value = 'ID';}" />
        </div>
        <div class="submit-inner">
          <br style="margin-bottom: 12px" />
          <label for="password">password</label>
          <input type="password" id="password" name="password" />
        </div>
        <br />
        <div style="display: flex; justify-content: space-around">
          <button type="submit" class="button" role="button">확인</button>
          <button class="button" onClick="window.location.reload()">새로고침</button>
        </div>
      </form>
    </div>
  </body>
</html>
