<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- script load -->
    <script async src="../static/js/handleClock.js"></script>
    <script async src="../static/js/handleCheckArrival.js"></script>
    <script async src="../static/js/handleClick.js"></script>
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
      alert("{{messages[-1]}}");
    </script>
    {% endif %} {% endwith %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <!-- apple 상단바 애미 ㅋㅋㅋㅋㅋㅋ -->
    <meta name="color-scheme" content="dark" />
    <!-- pwa apple -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="출석체크" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon" href="../static/icons/icon.jpeg" />
    <!-- PWA android -->
    <meta name="theme-color" content="black" />
    <meta name="description" content="made by choidonghun with flask. css,html,js,python,mongodb used. closed source 출석체크 앱입니다." />

    <title>메인</title>
  </head>
  <body>
    <noscript>Please Enable JS.</noscript>
    <noscript>자바스크립트를 활성화해주시기 바랍니다.</noscript>
    <div class="main-content-area">
      <div class="welcome-and-clock" style="display: flex">
        <div class="welcome-box">
          <span id="welcome">Welcome, <i>{{userName}}</i></span>
          <span id="hi">hi, <i>{{userName}}</i></span>
          <br />
          <div class="memu-area">
            <button aria-label="reload button" onClick="window.location.reload()">
              <img id="refreshBtn" src="../static/images/svg/reload_light.svg" alt="" />
            </button>
            <button aria-label="logout button" onclick="location.href = './logout'">Logout</button>
            <span id="theme" style="display: none">light</span>
            <button aria-label="Change Theme button" id="theme-toggle">
              <img id="themeIMG" src="../static/images/svg/moon.svg" alt="" />
            </button>
            <button aria-label="useless button" id="nouse">추가될 기능</button>
          </div>
        </div>
        <div class="clock">
          <div class="hand hour-hand"></div>
          <div class="hand min-hand"></div>
          <div class="hand second-hand"></div>
          <div class="timetext">12:12:12</div>
        </div>
      </div>
      <button aria-label="close popup " class="close_btn_for_recent">
        <img src="../static/images/svg/close.svg" alt="" />
      </button>
      <div class="recent">
        <div class="recent-container">Recent Arrivals</div>
        <div class="recent-view">
          {% for i in (range(howmanyrecents)) %}
          <div class="recent-nth">
            <div class="name">{{todays_data_student[howmanyrecents-i-1]}}</div>
            <div class="checker">확인자 : <strong>{{Chedker_who[howmanyrecents-i-1]}}</strong></div>
            <div class="time">도착시각 : <strong>{{todays_data_time[howmanyrecents-i-1]}}</strong></div>
            <div class="save">지각여부 : <strong>{{isitlate[howmanyrecents-i-1]}}</strong></div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="student-overoll-shortcut">
        {% for i in StudentList %}
        <button aria-label="Check button" class="student-overoll-shortcut-inner" onclick="alert('{{i}} 출석체크 완료');location.href= '/{{i}}'">
          <img src="../static/images/pfp/{{i}}_pfp.webp" alt="" />
          <p>{{i}}</p>
        </button>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
