<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- script load -->
    <script defer src="../static/js/handleClock.js"></script>
    <script defer src="../static/js/handleCheckArrival.js"></script>
    <script defer src="../static/js/handleClick.js"></script>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
      alert("{{messages[-1]}}");
    </script>
    {% endif %} {% endwith %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- apple 상단바 애미 ㅋㅋㅋㅋㅋㅋ -->
    <meta name="color-scheme" content="dark" />
    <!-- pwa apple -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="출석체크" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon" href="../static/icons/icon.png" />
    <!-- PWA android is not supporting currently-->
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>메인</title>
  </head>
  <body>
    <noscript>Please Enable JS.</noscript>
    <noscript>자바스크립트를 활성화해주시기 바랍니다.</noscript>
    <div class="main-content-area">
      <div class="welcome-and-clock">
        <div class="welcome-box">
          <span id="welcome">Welcome,</span>
          <span id="hi">hi,</span>
          <i>{{userName}}</i>
          <br />
          <div class="memu-area">
            <button onClick="window.location.reload()">
              <img id="refreshBtn" src="../static/images/svg/reload_light.svg" alt="" />
            </button>
            <button onclick="location.href = './logout'" style="color: red">Logout</button>
            <span id="theme" style="display: none">light</span>
            <button id="theme-toggle"><img id="themeIMG" src="" alt="" /></button>
            <button>추가될 기능</button>
          </div>
        </div>
        <div class="clock">
          <div class="hand hour-hand"></div>
          <div class="hand min-hand"></div>
          <div class="hand second-hand"></div>
          <div class="timetext">12:12:12</div>
        </div>
      </div>
      <button class="close_btn_for_recent">
        <img src="../static/images/svg/close.svg" alt="" />
      </button>
      <div class="recent">
        <div class="recent-container">Recent Arrivals / Departure</div>
        <div class="recent-view">
          {% for i in range(500)%}
          <div class="recent-nth">
            <div class="name">Weee</div>
            <div class="arrive-depart">Departed at</div>
            <div class="time">12:23:34</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="student-overoll-shortcut">
        {% for i in StudentList %}
        <button class="student-overoll-shortcut-inner" onclick="alert('{{i}} 출석체크 완료');location.href= '/{{i}}'">
          <img src="../static/images/pfp/{{i}}_pfp.png" alt="" />
          <p>{{i}}</p>
        </button>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
