<!DOCTYPE html>
<html lang="ko">
  <head>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
      alert("{{messages[-1]}}");
    </script>
    {% endif %} {% endwith %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="color-scheme" content="light dark" />
    <!-- pwa apple -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="출석체크" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon" href="../static/icons/icon.png" />
    <!-- PWA android is not supporting currently-->
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/ipad.css" />
    <link rel="stylesheet" href="../static/css/mobile.css" />
    <title>메인</title>
  </head>
  <body>
    <noscript>Please Enable JS.</noscript>
    <noscript>자바스크립트를 활성화해주시기 바랍니다.</noscript>
    <div class="ipad-content-area">
      <div class="welcome-and-clock">
        <div class="welcome-box">
          Welcome, <br />
          <i>{{userName}}</i>
          <br />
          <div class="memu-area">
            <button class="button" onClick="window.location.reload()">새로고침</button>
            <button onclick="location.href = './logout'" style="color: red">Logout</button>
            <span id="theme" style="display: none">light</span><button id="theme-toggle">Night Mode</button>
            <button>추가될 기능</button>
          </div>
        </div>
        <div class="clock">
          <div class="hand hour-hand"></div>
          <div class="hand min-hand"></div>
          <div class="hand second-hand"></div>
          <div class="timetext">12:12:12</div>
        </div>
      </div>
      <button class="close_btn_for_recent">
        <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM5.35355 4.64645C5.15829 4.45118 4.84171 4.45118 4.64645 4.64645C4.45118 4.84171 4.45118 5.15829 4.64645 5.35355L7.29289 8L4.64645 10.6464C4.45118 10.8417 4.45118 11.1583 4.64645 11.3536C4.84171 11.5488 5.15829 11.5488 5.35355 11.3536L8 8.70711L10.6464 11.3536C10.8417 11.5488 11.1583 11.5488 11.3536 11.3536C11.5488 11.1583 11.5488 10.8417 11.3536 10.6464L8.70711 8L11.3536 5.35355C11.5488 5.15829 11.5488 4.84171 11.3536 4.64645C11.1583 4.45118 10.8417 4.45118 10.6464 4.64645L8 7.29289L5.35355 4.64645Z"
            fill="black"
          />
        </svg>
      </button>
      <div class="recent-five">
        <div class="recent-container">Recent 5 Arrivals / Departure</div>
        <div class="recent-five-view">
          {% for i in range(500)%}
          <div class="recent-nth">
            <div class="name">Weee</div>
            <div class="arrive-depart">Departed at</div>
            <div class="time">12:23:34</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="student-overoll-shortcut">
        {% for i in StudentList %}
        <button class="student-overoll-shortcut-inner" id="moveoncolorchange" onclick="alert('{{i}} 출석체크 완료');location.href= '/{{i}}'">
          <img src="../static/images/pfp/{{i}}_pfp.png" alt="" />
          <p>{{i}}</p>
        </button>
        {% endfor %}
      </div>
    </div>
    <div class="mobile1-content-area">
      <h1 style="text-align: center; margin-bottom: 100px">This kind of Tab is Not supported yet</h1>
      <h2 style="text-align: center">buy 12.9inch iPad or donate ron for fast support</h2>
    </div>
    <div class="mobile-content-area">
      <div class="moblie-welcome-box">
        Hi! <br />
        <i>{{userName}}</i>
      </div>
      <div class="mobile-resent-five">
        <div class="recent-container">Recent 5 Arrivals / Departure</div>
        <div class="mobile-recent-five-view" onclick="location.href='recent-arrival-departures'">
          {% for i in range(5)%}
          <div class="mobile-recent-nth">
            <div class="name">Weee</div>
            <div class="arrive-depart">Departed at</div>
            <div class="time">12:23:34</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="laptop-content-area">
      <h1>laptop</h1>
    </div>
    <script src="../static/js/handleClock.js"></script>
    <script src="../static/js/handleCheckArrival.js"></script>
    <script src="../static/js/handleClick.js"></script>
  </body>
</html>
